# Entorno
# CI_ENVIRONMENT = development

# Configuración de Base de Datos
# database.default.hostname = mysql
# database.default.database = iga_cursos
# database.default.username = iga_user
# database.default.password = iga_password
# database.default.DBDriver = MySQLi
# database.default.DBPrefix =
# database.default.port = 3306

# Configuración de App
# app.baseURL = 'http://localhost:8000'
# app.forceGlobalSecureRequests = false

# CORS
# app.allowedOrigins[] = 'http://localhost:8080'
# app.allowedHeaders[] = 'X-API-KEY'
# app.allowedHeaders[] = 'Origin'
# app.allowedHeaders[] = 'Content-Type'
# app.allowedHeaders[] = 'Accept'
# app.allowedMethods[] = 'GET'
# app.allowedMethods[] = 'POST'
# app.allowedMethods[] = 'PUT'
# app.allowedMethods[] = 'DELETE'
